
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100vh;
}
.login-card-container{
    background-color: white;
    padding:20px;
    margin: 20px;
    border-radius: 10px;
}
.title1{
    display: flex;
    gap: 10%;
    color: black;
    font-family: Cursive;
}
.title2{
    text-align: center;
    color:red;
}
.login-input{
    margin: 10px;
    padding:10px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: 1px solid gainsboro;
    outline-color: blue;
}
.login-button{
    display:block;
    width: 90%;
    margin: 10px;
    padding:10px;
    align-items: center; 
    text-align: center;
    border-radius: 15px;
    color:black;
    background-color: rgba(137, 43, 226, 0.286);
    border:0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.login-button:active{
    transform: scale(0.80);
}
.login-link{
    text-decoration: none;
}